# Ignorar llaves privadas del nodo A
config/a/pki/private/
config/a/easy-rsa/pki/

# Ignorar certificados emitidos
config/a/pki/issued/
config/a/easy-rsa/pki/issued/

# Ignorar archivos de configuración de PKI
config/a/easy-rsa/*
config/a/pki/*
config/a/ccd/*
config/a/ipp.txt
